@{
    ViewBag.Title = "Lyrics Game";
}

<div id="sidebar">
    @if (Request.IsAuthenticated)
    {
        <text>
        <h2>Welcome, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!</h2>
        <br />
        You currently rank: x. You need x points to rank up.        
    </text>
    }
    else
    {

    }
    <h2>Leaderboard</h2>
    <ol>
        <li>Leader</li>
        <li>Leader</li>
        <li>Leader</li>
        <li>Leader</li>
        <li>Leader</li>
        <li>Leader</li>
    </ol>
    <hr>
</div>

<div id="content">

    <h4>Welcome to The Lyrics Game!</h4>
    <h2>Guess the lyrics in the song clip you hear. If you are correct, you get points as well as add to our Lyrics Wiki</h2>
    <h5>CLICK HERE TO PLAY!</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>