@{
    ViewBag.Title = "Lyrics Game";
}

<div id="sidebar">
    @{Html.RenderAction("Leaderboard", "Home");}
</div>

<div id="content">

    <h4>Welcome to The Lyrics Game!</h4>
    <h2>Guess the lyrics in the song clip you hear. If you are correct, you get points as well as add to our Lyrics Wiki</h2>
    <h5>@Html.ActionLink("CLICK HERE TO PLAY!", "Index", "Game")</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>